.card {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-default);
  padding: var(--space-md);
  box-shadow: var(--shadow-md);
  font-size: var(--font-size-base);
  height: 500px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(300px);
  animation: floatUp var(--duration-entrance);
  animation-delay: calc(var(--i) * 0.3s);
  animation-timeline: view();
  animation-range: entry cover 40%;
}

.card:hover {
  box-shadow: var(--shadow-md-hover);
  color: var(--color-text-hover);
  transition: all var(--transition-hover);
}

.imageContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: var(--radius-sm);
  margin-top: auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  background-color: var(--color-text);
  width: fit-content;
  color: var(--color-text-inverse);
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-rounded);
  margin: var(--space-md) 0;
}

.link:hover {
  animation: colorFill var(--transition-smooth);
  cursor: pointer;
}

.link a {
  text-decoration: none;
  color: inherit;
}

@keyframes floatUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes colorFill {
  to {
    background-color: var(--color-accent);
    /* pil här */
  }
}
