@import "./theme/tokens.css";
@import "./theme/light.css";
@import "./theme/dark.css";

html,
body {
  margin: 0;
  padding: 0 var(--space-2xl);
  font-family: var(--font-body);
  /* background: var(--color-bg); */
  color: var(--color-text);
  transition:
    background var(--transition-mid),
    color var(--transition-mid);
}

h1 {
  font-family: var(--font-h1);

  /* color: var(--color-text-light); */
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-top: var(--space-sm);
}

@media (max-width: 1024px) {
  html,
  body {
    padding: 0 var(--space-md);
  }
}

@media (max-width: 768px) {
  html,
  body {
    padding: 0 var(--space-xs);
  }
}
