@import "./theme/tokens.css";
@import "./theme/light.css";
@import "./theme/dark.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background: var(--color-bg);
  color: var(--color-text);
  transition:
    background var(--transition-mid),
    color var(--transition-mid);
}

h1 {
  font-family: var(--font-h1);
  color: var(--color-accent);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  margin-top: var(--space-sm);
}
