.section {
  background-color: var(--color-bg-default);
  max-width: 350px;
  border-radius: 150px;
  padding: 0 80px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

p,
a {
  margin: 6px 0;
}
