.section {
  background-color: var(--color-bg-default);
  max-width: 350px;
  border-radius: var(--radius-rounded);
  padding: 0 var(--space-5xl);
  margin: var(--space-3xl) auto;
  display: flex;
  flex-direction: column;
}

p,
a {
  margin: 6px 0;
}
