[data-theme="dark"] {
  /* --color-bg-default: #1a1f2e;
  --color-text: #e5e7eb;
  --color-text-hover: #f5f5f5;
  --color-accent-2: #fb7185;

  --color-border: #2d3748;
  --color-shadow: rgba(255, 255, 255, 0.12);
  --color-shadow-hover: rgba(255, 255, 255, 0.18); */
}
