.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  background-image: var(--color-gradient);
  background-size: 300%;
  animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
